body { 
  background-image: url("../images/background3.gif");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#main {
	width: 100%;
	margin: 0 auto;
	margin-top: 55px;
	text-align: center;
}
#begin-btn, #submit-btn, #next-btn, #restart-btn {
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: #FF0000;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #FFFFFF;
}
#begin-btn {
   background: #FF0000;
   font-size: 24px;
}
#submit-btn {
   background: #FF0000;
   display: none;
}
#next-btn {
  background: #FF6103;
  display: none;
}
#restart-btn {
  background: #FF9912;
  display: none;
}
#startQuiz {
  font-size: 20px;
}
#questionsContainer{
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  padding-left: 35%;
  display: none;
}
#answersCorrect{
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  color: #7a8370;
  line-height: 1.6em;
  margin-top: 20px;
}
.title {
	font-size: 35px;
	font-weight: bold;
	color: #FF0000;
	padding-bottom: 15px;
}
.subtitle {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  line-height: 30px;
}




